.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.column {
  -webkit-transition: flex-grow 200ms ease, opacity 200ms ease, -webkit-box-flex 200ms ease, -webkit-flex-grow 200ms ease;
  transition: flex-grow 200ms ease, opacity 200ms ease, -webkit-box-flex 200ms ease, -webkit-flex-grow 200ms ease;
  transition: flex-grow 200ms ease, opacity 200ms ease;
  transition: flex-grow 200ms ease, opacity 200ms ease, -webkit-box-flex 200ms ease, -webkit-flex-grow 200ms ease, -ms-flex-positive 200ms ease;
}

.head {
  position: static;
  top: 0px;
  z-index: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 0px;
  box-shadow: inset 1px 0 2px 0 rgba(0, 0, 0, 0.25);
}

.image {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.buttons {
  position: static;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 20px;
  padding-top: 9px;
  float: right;
  clear: none;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  border-radius: 6px;
  background-image: -webkit-gradient(linear, left top, right top, from(#de0f1d), to(#272a86));
  background-image: linear-gradient(90deg, #de0f1d, #272a86);
  box-shadow: 7px 7px 2px 0 rgba(112, 94, 73, 0.15);
  opacity: 1;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
}

.buttons:hover {
  opacity: 1;
}

.buttons.cmc {
  padding: 8px 15px;
  background-image: -webkit-gradient(linear, left top, right top, from(#3861fb), to(#272a86));
  background-image: linear-gradient(90deg, #3861fb, #272a86);
}

.container {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.container-2 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.heading {
  font-family: Montserrat, sans-serif;
  color: #333;
  font-size: 50px;
  line-height: 55px;
}

.heading-2 {
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: Inconsolata, monospace;
  font-style: normal;
  font-weight: 400;
}

.section-2 {
  background-color: #fff;
  background-image: url('../images/shine-light.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: scroll;
  opacity: 1;
}

.container-3 {
  background-color: #fff;
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 20px;
  background-color: #f4f4f4;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  -ms-grid-columns: 1fr max-content max-content max-content;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-logo-link {
  display: block;
  height: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.nav-logo {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.nav-link {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 0px;
  color: #444;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.section-3 {
  background-image: -webkit-gradient(linear, left top, right top, from(#de0f1d), to(#272a86));
  background-image: linear-gradient(90deg, #de0f1d, #272a86);
}

.heading-3 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 400;
  text-align: center;
}

.team {
  padding: 10px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
}

.team.team-member {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
}

.section-4 {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #cecece;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#fff));
  background-image: linear-gradient(180deg, #f3f3f3, #fff);
}

.columns {
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.image-2 {
  width: 120px;
  margin-right: 20px;
  padding-right: 0px;
  float: left;
  border-radius: 50%;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0px 0px;
  background-size: auto;
}

.image-2.opacity {
  opacity: 0.8;
}

.heading-4 {
  margin-left: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.role {
  font-family: Montserrat, sans-serif;
  color: #8e8fa0;
  font-size: 16px;
  font-weight: 300;
}

.heading-5 {
  text-align: center;
}

.title-header {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

.title-header.intro-edac {
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
}

.title-header.intro-edac.roadmap {
  text-align: center;
}

.nav-url {
  font-family: Montserrat, sans-serif;
  color: #4a5568;
  font-size: 15px;
}

.nav-url:hover {
  color: #de0f1d;
}

.nav-url.lang-nav {
  padding-top: 0px;
  padding-bottom: 0px;
}

.nav-url.nav-lang {
  margin-top: -20px;
}

.section-5 {
  height: 50px;
  background-color: transparent;
  background-image: url('../images/Grupo-183.svg');
  background-position: 0px 0px;
  background-size: cover;
}

.container-4 {
  font-weight: 400;
}

.container-4-copy {
  font-weight: 400;
}

.section-6 {
  display: block;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.image-3 {
  display: block;
  background-clip: padding-box;
  -webkit-text-fill-color: inherit;
}

.image-4 {
  max-height: 100%;
}

.image-5 {
  position: relative;
  overflow: visible;
  float: right;
  clear: left;
  background-clip: padding-box;
  -webkit-text-fill-color: inherit;
  -o-object-fit: contain;
  object-fit: contain;
}

.image-6 {
  display: block;
  padding-bottom: 0px;
}

.section-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1b1b1b;
}

.image-7 {
  background-color: #363636;
}

.image-8 {
  text-align: center;
}

.image-9 {
  background-color: transparent;
}

.social-image {
  margin-right: 12px;
  margin-left: 12px;
  padding: 0px;
  border-radius: 0%;
  background-color: transparent;
  opacity: 0.5;
  cursor: pointer;
}

.social-image:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.social {
  display: inline-block;
  padding: 20px;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-radius: 10px;
  background-color: #25272c;
  background-image: -webkit-gradient(linear, left top, right top, from(#de0f1d), to(#272a86));
  background-image: linear-gradient(90deg, #de0f1d, #272a86);
  box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.25);
}

.social.mobile {
  display: none;
}

.social.cmc {
  margin-left: 15px;
  background-image: -webkit-gradient(linear, left top, right top, from(#3861fb), to(#4448c2));
  background-image: linear-gradient(90deg, #3861fb, #4448c2);
}

.pow {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: transparent;
}

.container-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.footer-list {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  list-style-type: none;
}

.footer-list.footer-hidden {
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.footer-links {
  color: #fff;
}

.footer-links.hidden {
  display: none;
}

.footer-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-header {
  color: #fff;
  line-height: 20px;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#de0f1d), to(#272a86));
  background-image: linear-gradient(90deg, #de0f1d, #272a86);
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.progress-bar-right {
  width: 100%;
  height: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#272a86), to(#de0f1d));
  background-image: linear-gradient(90deg, #272a86, #de0f1d);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.sub-header {
  background-color: #474747;
  background-image: -webkit-gradient(linear, left top, right top, from(#de0f1d), to(#272a86));
  background-image: linear-gradient(90deg, #de0f1d, #272a86);
  color: #fff;
  line-height: 36px;
}

.sub-header-text {
  font-family: Montserrat, sans-serif;
  text-align: center;
}

.sub-header-link {
  color: #fff;
}

.sub-header-link.hidden {
  display: none;
  overflow: visible;
}

.section-8 {
  height: 400px;
  background-color: #000;
  background-image: url('../images/legend-background-pattern.png');
  background-position: 0px 0px;
  background-size: auto;
}

.section-9 {
  background-color: #000;
  background-image: url('../images/legend-background-pattern.png');
  background-position: 0px 0px;
  background-size: auto;
}

.container-6 {
  display: block;
  max-width: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.news-title {
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  text-align: center;
}

.section-12 {
  display: block;
  padding-top: 50px;
  padding-bottom: 75px;
  border-top: 1px none #e2e2e2;
  background-color: rgba(65, 59, 64, 0);
}

.section-12.bordered-section {
  padding-bottom: 75px;
  border-top-style: solid;
}

.section-12.bordered-section.hidden-section {
  display: none;
}

.section-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.video-heading {
  text-align: center;
}

.container-7 {
  padding-top: 50px;
  padding-bottom: 100px;
}

.html-embed {
  width: 100%;
  height: 400px;
  max-width: 100%;
}

.container-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.background-video {
  background-color: rgba(131, 125, 125, 0.58);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(222, 15, 29, 0.5)), to(rgba(39, 42, 134, 0.5)));
  background-image: linear-gradient(90deg, rgba(222, 15, 29, 0.5), rgba(39, 42, 134, 0.5));
}

.background-video.bg-video-test {
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.71)), to(hsla(0, 0%, 100%, 0.71)));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.71), hsla(0, 0%, 100%, 0.71));
}

.container-9 {
  max-height: 300px;
  max-width: 600px;
}

.text-span {
  background-color: #fff;
}

.section-13 {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f7f7f7;
}

.heading-6 {
  text-align: center;
}

.heading-7 {
  text-align: left;
}

.heading-8 {
  background-color: #000;
  color: #fff;
}

.heading-9 {
  text-align: center;
}

.link {
  display: inline;
  text-align: left;
}

.container-10 {
  text-align: center;
}

.image-10 {
  margin-top: 20px;
  margin-bottom: -20px;
  text-align: center;
}

.column-2 {
  text-align: center;
}

.heading-10 {
  font-family: Montserrat, sans-serif;
  font-size: 50px;
  text-align: center;
}

.section-14 {
  background-color: transparent;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.image-11 {
  text-align: right;
}

.image-12 {
  border-radius: 0px;
  background-color: #a71616;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.image-13 {
  position: static;
  display: inline-block;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-14 {
  text-align: right;
}

.grid {
  grid-template-areas: ". ."
    ". Area";
}

.image-15 {
  background-image: url('../images/earth.png');
  background-position: 0px 0px;
  background-size: auto;
}

.heading-11 {
  font-size: 25px;
}

.heading-12 {
  font-size: 25px;
  text-align: left;
}

.heading-13 {
  font-size: 25px;
}

.heading-14 {
  font-family: Inconsolata, monospace;
  text-align: center;
}

.heading-15 {
  color: rgba(146, 61, 138, 0.74);
  text-align: center;
}

.arrow-left {
  z-index: 3;
  width: 45px;
  height: 45px;
  margin: 130.5px 18px;
  padding: 10px;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, right top, from(#de0f1d), to(#272a86));
  background-image: linear-gradient(90deg, #de0f1d, #272a86);
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.slide {
  border-radius: 10px;
}

.slider {
  background-color: transparent;
}

.mask {
  z-index: 1;
  margin: 0px 40px 50px;
  padding: 0px;
  border-radius: 10px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
}

.container-11 {
  margin-top: 25px;
  padding-bottom: 50px;
}

.image-16 {
  display: block;
  margin-right: 40px;
  float: left;
  background-color: #f8f8f8;
}

.div-block {
  position: static;
  display: inline-block;
  float: left;
}

.div-block-2 {
  position: relative;
  display: block;
  padding: 25px 50px;
  float: left;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.news-item-header {
  display: block;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-right: 40px;
  font-family: Montserrat, sans-serif;
  font-size: 28px;
  line-height: 38px;
  font-weight: 400;
}

.div-block-3 {
  display: inline;
  margin-left: 0px;
  padding-left: 0px;
}

.paragraph {
  font-family: Montserrat, sans-serif;
}

.news-item-link {
  font-family: Montserrat, sans-serif;
  color: #de0f1d;
  font-size: 16px;
  font-weight: 700;
}

.news-item-source-img {
  margin-right: 20px;
  float: left;
  border-radius: 50%;
}

.div-block-4 {
  margin-top: 50px;
}

.news-item-source-title {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
}

.whitepaper-link {
  display: inline;
  margin-right: 12px;
  margin-left: 12px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
}

.whitepaper-link.cmc {
  margin-right: 8px;
}

.whitepaper {
  font-family: Varela, sans-serif;
}

.image-17 {
  margin-right: 0px;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.heading-desc {
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 36px;
}

.heading-desc.secondary {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
}

.heading-desc.secondary.right {
  text-align: right;
}

.text-desc {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  line-height: 24px;
  font-weight: 300;
  text-align: left;
}

.text-desc.roadmap-desc {
  margin-bottom: 10px;
  font-size: 16px;
}

.text-desc.roadmap-desc.right {
  padding-right: 20px;
  text-align: right;
}

.image-18 {
  display: block;
  margin-right: 20px;
  padding-right: 0px;
  float: left;
  text-align: center;
}

.slide-nav {
  z-index: auto;
}

.left-arrow {
  z-index: 2;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  clear: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.columns-2 {
  padding-bottom: 50px;
}

.section-15 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-15.hidden.bg-new {
  background-image: url('../images/spary-1.png');
  background-position: 50% 50%;
  background-size: cover;
}

.section-15.bg-new {
  background-image: url('../images/spary-2.png');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-nav-2 {
  position: static;
  display: none;
  overflow: hidden;
}

.text-block {
  display: block;
  clear: none;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.heading-16 {
  text-align: center;
}

.slider-2 {
  display: inline;
}

.slide-2 {
  z-index: 1;
}

.background-video-2 {
  z-index: 2;
  margin-right: 0px;
  border-radius: 14px;
}

.partners {
  margin-right: 15px;
  margin-left: 15px;
}

.partners.nvidia {
  margin-left: 0px;
}

.section-16 {
  padding-top: 50px;
  padding-bottom: 100px;
}

.column-3 {
  padding-left: 50px;
}

.image-19 {
  position: relative;
}

.image-20 {
  position: relative;
  left: -44px;
  top: 20px;
}

.image-21 {
  position: relative;
  left: -261px;
  top: 122px;
}

.grid-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.grid-3 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.div-block-7 {
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  border-color: #d9d9d9;
}

.roadmap-q1-left {
  display: inline-block;
  padding-top: 0px;
  padding-right: 50px;
  padding-left: 0px;
}

.roadmap-img-left {
  padding-top: 25px;
  padding-right: 30px;
  border-right: 1px solid #d9d9d9;
}

.roadmap-img-right {
  padding-top: 25px;
  padding-left: 25px;
}

.list {
  list-style-type: none;
}

.list.roadmap-list {
  padding-left: 20px;
}

.text-block-2 {
  padding-top: 40px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  text-align: center;
}

.button-2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-image: url('../images/twitter.png');
  background-position: 50% 50%;
  background-size: cover;
}

.container-12 {
  display: block;
  max-width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.image-22 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.roadmap-div-right {
  margin-left: -1px;
  padding-left: 25px;
  border-left: 0px none #d9d9d9;
}

.bubble-roadmap-1 {
  position: relative;
  left: 459px;
  top: -75px;
  width: 20px;
  height: 20px;
  margin-left: 0px;
  border: 4px solid #de0f1d;
  border-radius: 50%;
  background-color: #fff;
  background-image: none;
}

.bubble-roadmap-1.bubble-2 {
  left: -11px;
  top: 0px;
  border-color: #272a86;
}

.bubble-roadmap-1.hidden {
  left: 460px;
}

.roadmap-div-left {
  padding-right: 25px;
  border-right: 1px solid #d9d9d9;
}

.linkedin-img:hover {
  opacity: 0.6;
}

.link-block {
  position: relative;
  left: -48px;
}

.link-block.linkedin-small {
  left: 110px;
  top: 16px;
}

.linkedin-small {
  position: absolute;
  left: 22px;
  top: 10px;
}

.dropdown-list {
  background-color: #fff;
}

.dropdown-link {
  background-color: #fff;
}

.link-block-2 {
  display: block;
  padding: 10px 20px;
  background-color: #fff;
}

.link-block-2:hover {
  background-color: #e0e0e0;
  opacity: 1;
}

.image-24 {
  width: 18px;
  height: auto;
  padding: 1px;
}

.dropdown {
  background-color: #fff;
}

.menu-button {
  display: none;
}

.image-25 {
  width: 18px;
  padding: 1px;
}

.image-26 {
  width: 18px;
  padding: 1px;
}

.image-27 {
  margin-top: -5px;
}

.image-28 {
  margin-top: -4px;
}

.image-28.cmc-head-img {
  margin-top: 0px;
}

.social-copy {
  display: inline-block;
  padding: 20px;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-radius: 10px;
  background-color: #25272c;
  background-image: -webkit-gradient(linear, left top, right top, from(#de0f1d), to(#272a86));
  background-image: linear-gradient(90deg, #de0f1d, #272a86);
  box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.25);
}

.social-copy.mobile {
  display: none;
}

.social-copy.cmc {
  margin-left: 15px;
  background-image: -webkit-gradient(linear, left top, right top, from(#3861fb), to(#4448c2));
  background-image: linear-gradient(90deg, #3861fb, #4448c2);
}

.link-2 {
  color: #fff;
}

.section-17 {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
}

.container-13 {
  text-align: center;
}

.aggregators {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
}

.aggregator {
  margin: 10px 20px;
  -webkit-transform: scale3d(1none, 1none, 1none);
  transform: scale3d(1none, 1none, 1none);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.aggregator:hover {
  opacity: 0.6;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.hiveon {
  position: relative;
  padding: 20px;
}

.hiveon:hover {
  opacity: 0.6;
}

.image-29 {
  position: relative;
  margin-top: -2px;
  padding-top: 0px;
  padding-bottom: 0px;
}

@media screen and (max-width: 991px) {
  .buttons {
    display: none;
  }

  .container-2 {
    padding-right: 25px;
    padding-left: 25px;
  }

  .heading {
    font-size: 44px;
    line-height: 50px;
  }

  .team.team-member {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .image-2 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
  }

  .social-image {
    display: inline-block;
    width: 50px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .social {
    width: 130px;
    padding: 15px 5px;
    text-align: center;
  }

  .social.mobile {
    display: inline-block;
    width: 130px;
    margin-right: 15px;
    margin-left: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    text-align: center;
  }

  .social.cmc {
    display: none;
  }

  .pow {
    padding-right: 25px;
    padding-left: 26px;
  }

  .sub-header-text {
    line-height: 36px;
  }

  .news-item-header {
    font-size: 20px;
    line-height: 30px;
  }

  .whitepaper-link {
    font-size: 15px;
  }

  .div-block-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .columns-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .section-15 {
    padding-right: 25px;
    padding-left: 25px;
  }

  .background-video-2 {
    display: block;
  }

  .bubble-roadmap-1 {
    left: 348px;
  }

  .bubble-roadmap-1.hidden {
    display: none;
  }

  .nav-menu {
    background-color: #fff;
  }

  .link-block.linkedin-small {
    left: 0px;
    top: 0px;
  }

  .linkedin-small {
    position: static;
  }

  .column-5 {
    position: relative;
    display: block;
    text-align: center;
  }

  .image-23 {
    text-align: center;
  }

  .social-copy {
    width: 130px;
    padding: 15px 5px;
    text-align: center;
  }

  .social-copy.mobile {
    display: inline-block;
    width: 130px;
    margin-right: 15px;
    margin-left: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    text-align: center;
  }

  .social-copy.cmc {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .container-2 {
    padding-top: 50px;
  }

  .sticky-nav {
    position: relative;
  }

  .nav-grid {
    text-align: center;
  }

  .team.team-member {
    margin-bottom: 20px;
  }

  .section-7 {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .image-9 {
    display: block;
  }

  .social {
    width: 150px;
  }

  .social.mobile {
    width: 150px;
  }

  .social.cmc {
    display: inline-block;
  }

  .pow {
    padding-top: 50px;
  }

  .footer-list {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .footer-list.footer-hidden {
    display: none;
  }

  .sub-header-text {
    padding-top: 0px;
  }

  .slide {
    padding-right: 50px;
    padding-left: 50px;
  }

  .image-16 {
    display: none;
  }

  .news-item-header {
    padding-right: 0px;
  }

  .text-desc.roadmap-desc {
    font-size: 15px;
  }

  .column-3 {
    padding-left: 10px;
  }

  .bubble-roadmap-1 {
    left: 248px;
    top: -49px;
  }

  .column-4 {
    text-align: center;
  }

  .social-copy {
    width: 150px;
  }

  .social-copy.mobile {
    width: 150px;
  }

  .social-copy.cmc {
    display: inline-block;
  }
}

@media screen and (max-width: 479px) {
  .sticky-nav {
    padding: 0px;
  }

  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }

  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }

  .section-7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }

  .image-9 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: center;
  }

  .social-image {
    width: 40px;
  }

  .social {
    width: 150px;
    margin-right: 5px;
    margin-bottom: 12px;
    margin-left: 5px;
  }

  .social.mobile {
    display: inline-block;
    width: 150px;
    margin: 0px 5px 12px;
  }

  .social.cmc {
    margin-left: 5px;
  }

  .sub-header-text {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
  }

  .slide {
    padding-right: 35px;
    padding-left: 35px;
  }

  .news-item-header {
    padding-right: 0px;
    font-size: 16px;
    line-height: 22px;
  }

  .div-block-4 {
    margin-top: 20px;
  }

  .section-15.hidden {
    display: none;
  }

  .container-12 {
    display: none;
  }

  .bubble-roadmap-1.hidden {
    display: none;
  }

  .social-copy {
    width: 150px;
    margin-right: 5px;
    margin-bottom: 12px;
    margin-left: 5px;
  }

  .social-copy.mobile {
    display: inline-block;
    width: 150px;
    margin: 0px 5px 12px;
  }

  .social-copy.cmc {
    margin-left: 5px;
  }
}

#w-node-_12a5912e-f2ac-a37f-83e1-aa84e080c4b2-ec1944f8 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_12a5912e-f2ac-a37f-83e1-aa84e080c4b2-53dcce08 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_12a5912e-f2ac-a37f-83e1-aa84e080c4b2-4edbf12b {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}